.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}
.center {
    justify-content: center;
    align-items: center;
}

.end {
    justify-content: end;
}
    
.gap1 {
    gap: 1em
}

.gap2 {
    gap: 2em
}
.gap3 {
    gap: 3em
}
.between {
    justify-content: space-between;
}

.around {
    justify-content: space-around;
}
.grid {
    display: grid;
}

.columns {
    grid-auto-flow: column;
    flex-direction: column;
}

.rows {
    grid-auto-flow: row;
    flex-direction: row;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.square {
    border-radius: 2px;
}

.squarish {
    border-radius: var(--buttonSquarishRadius);
}
.round {
    border-radius: var(--themeBorderRadius);
}
.rounder {
    border-radius: var(--buttonRounderRadius);
}

.border {
    border: 1px solid var(--themeGreyAlpha);
    }

.borderBlack {
    border: 1px solid rgba(0, 0, 0, 0.699);
}
.noneDisplay {
    display: none !important;
    transition: 1s ease-out forwards;
}

.opacity {
    opacity: 0.7;
}
    
.opacityHover:hover {
    opacity: 0.7;
}

.hoverTheme:hover {
    color: var(--themeColor);
}
.borderHoverTheme:hover {
    border: 1px solid var(--themeColor);
}

.borderHoverThemeBot:hover {
    border-bottom: 1px solid var(--themeColor);
}
.darkBlue {
    color: var(--themeDarkBlue);
    /* color: #045083;
                color: #023458; */
}

.darkRed {
    color: var(--themeDarkRed);
}
.bold {
    font-weight: 600;
}
.smaller {
    font-size: 0.55em;
}

.small {
    font-size: 0.6em;
    }

.medium {
    font-size: 0.7em;
}

.large {
    font-size: 1.15em;
}

.xLarge {
    font-size: 1.3em;
}

.tl {
    top: 1em;
    left: 1em;
}

.tr {
    top: 1em;
    right: 1em;
}

.bl {
    bottom: 1em;
    left: 1em;
}

.tr {
    top: 1em;
    right: 1em;
}

.fit {
    width: fit-content;
}

.fill {
    width: fill-available;
    width: -webkit-fill-available;
}

.full {
    width: 100%;
}

.fitH {
    height: fit-content;
}

.pointer {
    cursor: pointer;
}

.tStart {
    text-align: start;
}

.tCenter {
    text-align: center;
}
.alignCenter {
    align-items: center;
    align-content: center;
    align-self: center;
}

.baseLine {
    align-items: baseline;
}
.boxShadow {
    box-shadow: var(--boxShadow);
}

.boxShadowHover {
    box-shadow: var(--boxShadow);
    transition: box-shadow 0.2s;
}

.boxShadowHover:hover {
    /* box-shadow: 2px 2px 12px 1px rgba(0, 0, 0, .955); */
    box-shadow: 0px 5px 4px 10px rgba(0, 0, 0, 0.599);
    box-shadow: 4px 12px 16px rgba(0, 0, 0, 0.5);
}

.translateY:hover {
    transform: translateY(-1.4em);
}

.dropShadow {
    -webkit-filter: drop-shadow(3px 5px 2px rgba(26, 54, 79, 0.7));
    filter: drop-shadow(3px 5px 2px rgba(26, 54, 79, 0.7));
}

.dropShadowWhite {
    -webkit-filter: drop-shadow(3px 5px 2px rgba(254, 248, 233, 0.4));
        filter: drop-shadow(3px 5px 2px rgba(254, 248, 233, 0.4));
}

.darkModeHeader svg,
.darkModeHeader div.subMenu,
div.darkModeHeader li.activePage,
div.darkModeHeader {
    background: black;
    background: var(--themeColorBG_DarkMode);
    color: var(--themeColorText_DarkMode) !important;
    fill: white !important;
}




.darkMode,
.darkMode svg {
    background: var(--themeColorBG_DarkMode) !important;
    color: var(--themeColorText_DarkMode) !important;
    fill: white !important;
        /* background: var(--themeDarkBlue) !important; */
        /* background-image: var(--headerGradient) !important; */
    }
    
    
.darkModeGradient {
    color: var(--themeColorText_DarkMode) !important;
    fill: white !important;
    background: var(--themeDarkBlue) !important;
    background-image: var(--headerGradient) !important;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
    list-style: none;
    text-decoration: none;
    transition: 0.2s;
    text-align: -webkit-center;
}

button {
    padding: 0.6em 0.8em;
    color: var(--themeColorText_DarkMode);
    border: 1px solid var(--themeColor);
    background-color: var(--themeColor);
    border-radius: var(--buttonRadius);
    font-weight: bold;
    border: none;
    transition: 0.3s;
    font-size: 0.85em;
}

button:hover {
    opacity: 0.8;
}
.w500 {
    font-weight: 500;
}

.w600 {
    font-weight: 600;
}

.bStart {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.bEnd {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.alpha {
    background-color: var(--themeColorAlpha);
}

.themeColorAlpha {
    background-color: var(--themeColorAlpha);
    color: var(--themeColorText);
}
.themeConst {
    background-color: var(--constThemeColor);
    color: white;
}

.themeConst2 {
    background-color: var(--ThemeGPTOrangeDeep);
    color: black;
}

.themeConst3 {
    background-color: var(--themeGrey);
    color: var(--themeColorText);
}

.themeConst3:hover {
    opacity: 0.7;
}

.themeConst4 {
    color: var(--themeColorText);
    background-color: transparent;
    color: inherit;
}

.themeConst4:hover {
    color: var(--themeColorText_DarkMode);
    background-color: var(--themeColor);
}

.borderTheme {
    border: 1px solid var(--themeColor) !important;
}
.themeBorder {
    background: transparent !important;
    color: var(--themeColorText);
    color: inherit !important;
        border: 1px solid var(--themeColor) !important;
}

.themeBorder:hover {
    color: var(--themeColorText_DarkMode) !important;
        background: var(--themeColor) !important;
}

.themeConstBorder {
    background: transparent !important;
    color: var(--themeColorText);
    color: inherit !important;
    border: 1px solid var(--constThemeColor);
}

.themeConstBorder:hover {
    color: var(--themeColorText_DarkMode) !important;
    background: var(--constThemeColorAlpha) !important;
}

.rotate {
    animation: rotate 1s forwards;
}

.rotateInf {
    animation: rotate 2s linear infinite;
}
.borderDropBR {
    border-radius: 30px 30px 1px 30px !important;
}

.borderDropBL {
    border-radius: 30px 30px 30px 1px !important;
}
.fadeIn {
    animation: translate 0.9s ease-in forwards;
}
    
.appearIn {
    animation: appear 0.7s ease-in forwards;
}
.disAppear {
    animation: disAppear 0.5s ease-out forwards;
}
.flicker {
    animation: flicker 5s alternate ease-in-out infinite;
}
.shake {
    animation: shake 0.7s alternate ease-in-out infinite forwards;
}

@keyframes flicker {
    0% {
        transform: scale(1.4) rotate(-10deg);
    }

    33% {
        transform: scale(0.4) rotate(10deg);
    }

    66% {
        transform: scale(1.4) rotate(-10deg);
    }

    100% {
        transform: scale(0.4) rotate(10deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
@keyframes appear {
    0% {
        opacity: 0;
        /* transform: scale(0); */
    }

    100% {
        opacity: 1;
        }
}      
@keyframes disAppear {
    0% {
        opacity: 1;
        /* transform: scale(0); */
    }

    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes translate {
    0% {
        transform: translateY(2.4em);
        opacity: 0;
    }

    100% {
        transform: translateY(0em);
        opacity: 1;
    }
}

.noneSelect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/*     Padding     */

.p1 {
    padding: auto 0.5em;
}

.p2 {
    padding: auto 0.8em;
}

.p3 {
    padding: auto 1em;
}



.pt1 {
    padding-top: 0.5em;
}

.pt2 {
    padding-top: 0.8em;
}

.pt3 {
    padding-top: 1em;
}

.pb1 {
    padding-bottom: 0.5em;
}

.pb2 {
    padding-bottom: 0.8em;
}

.pb3 {
    padding-bottom: 1em;
}

.pl1 {
    padding-left: 0.5em;
}

.pl2 {
    padding-left: 0.8em;
}

.pl3 {
    padding-left: 1em;
}

.pr1 {
    padding-right: 0.5em;
}

.pr2 {
    padding-right: 0.8em;
}

.pr3 {
    padding-right: 1em;
}

/*     END Padding     */

/*     Margin     */
.mAuto {
    margin: auto;
}
.ma1 {
    margin: 0.5em;
}

.ma2 {
    margin: 0.8em;
}

.ma3 {
    margin: 1em;
}
.m0 {
    margin: 0em !important;
}
.m1 {
    margin: auto 0.5em;
}

.m2 {
    margin: auto 0.8em;
}

.m3 {
    margin: auto 1em;
}

.mt1 {
    margin-top: 0.5em;
}

.mt2 {
    margin-top: 0.8em;
}

.mt3 {
    margin-top: 1em;
}

.mb1 {
    margin-bottom: 0.5em;
}

.mb2 {
    margin-bottom: 0.8em;
}

.mb3 {
    margin-bottom: 1em;
}

.ml1 {
    margin-left: 0.5em;
}

.ml2 {
    margin-left: 0.8em;
}

.ml3 {
    margin-left: 1em;
}

.mr1 {
    margin-right: 0.5em;
}

.mr2 {
    margin-right: 0.8em;
}

.mr3 {
    margin-right: 1em;
}

/*     END Margin     */


/*    BG    */

.bg {
    position: fixed;
    right: 0;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 100vw 120vh;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
    filter: opacity(0.9);
}

.bg1 {
    background-image: var(--themeBG_Gradient);
    background-image: linear-gradient(351deg, #095ca240, transparent);
    background-image: linear-gradient(1deg, #23c9b161, transparent);
    background-image: linear-gradient(1deg, var(--themeColorAlpha), transparent, transparent);
    background-image: linear-gradient(1deg, #a3bbbb7d, #d6dada40, transparent);
    background-image: linear-gradient(180deg, #04b5161a, transparent, transparent);
    background-image: linear-gradient(10deg, #00860d2c, #a3111117, transparent);
    /* background-image: radial-gradient(#73a00636, #da000017, transparent); */
        background-image: linear-gradient(0deg, #d67a02ac, transparent, transparent, transparent);
    background-image: linear-gradient(0deg, #ffa20193, transparent, transparent);
}

.bg2 {
    background-image: url('../img/bg1.jpg');
}

.bg3 {
    background-image: url('../img/bg2.jpg');
}

.bg4 {
    background-image: url('../img/bg3.jpg');
    filter: blur(2px);
}

.bg5 {
    background-image: url('../img/bg4.jpg');
}

.mathLayout {
    background-image: url('../img/layout.png');
    z-index: -1;
    background-repeat: round;
    background-size: auto;
    /* background-attachment: fixed; */
    position: fixed;
    height: 100%;
    width: 100%;
    filter: blur(1px) opacity(0.7);
}

/*    END BG    */
