  div#about {
      position: relative;
  }
div#aboutCard {
    cursor: pointer;
    background-color: var(--themeColorBG);
    background-image: var(--themeBG_GradientLight);
    /* background-image: none !important; */
    /* background: var(--themeGreyAlpha);
        background: var(--themeColorBG2); */
    color: var(--themeColorText);
    display: flex;
    /* gap: 1em; */
    width: 13em;
    height: 15em;
    padding: 0.5em;
}

div.storyDiv p {
    margin-top: 0em;
    line-height: 2.2em;
    max-width: 65vw;
}

div.storyDiv {
    background: rgba(163, 177, 182, 0.185);
        margin: auto;
    padding: 1em;
    border-radius: 30px;
    width: fit-content;
    margin-bottom: 2em;
    margin-top: 1em;
    
    }
    

.constGrad0 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad1 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(206, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad2 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(48, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad3 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(19, 229, 220, var(--linearGradOpacity)), transparent) !important;
}

.constGrad4 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(103, 19, 229, var(--linearGradOpacity)), transparent) !important;
}

    margin: 0em;
    margin-top: 0em;
    margin-bottom: 1em;
    padding-left: 3em;
}


.hoverGrad0:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 19, var(--linearGradOpacity)), transparent) !important;
}
.hoverGrad1:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(229 19 19, var(--linearGradOpacity)), transparent);
}

.hoverGrad2:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(206 229 19, var(--linearGradOpacity)), transparent);
}

.hoverGrad3:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(48 229 19, var(--linearGradOpacity)), transparent);
}

.hoverGrad4:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(19 229 220, var(--linearGradOpacity)), transparent);
}

.hoverGrad5:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(103 19 229, var(--linearGradOpacity)), transparent);
}

.hoverGrad6:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgb(229 19 228, var(--linearGradOpacity)), transparent);
}