  div#about {
    position: relative;
    padding: 0.5em;
    min-height: 69vh;
  }
div#aboutCard {
    background-color: var(--themeColorBG);
    background-image: var(--themeBG_GradientLight);
    /* background-image: none !important; */
    /* background: var(--themeGreyAlpha);
        background: var(--themeColorBG2); */
    color: var(--themeColorText);
    /* display: flex; */
    /* gap: 1em; */
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    width: 13em;
    height: 12em;
    padding: 0.8em;
    border-radius: var(--cardRadius);
}

div.storyDiv p {
    margin-top: 0em;
    line-height: 1.8;
    margin: 1em;
}

div.storyDiv {
    background: rgba(255, 255, 255, 0.6);
    margin: auto;
    padding: 1.1em 2em;
    border-radius: var(--themeBorderRadius);
    /* width: fit-content; */
    margin: 2em 5em;
}
    

.constGrad0 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad1 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(206, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad2 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(48, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.constGrad3 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(19, 229, 220, var(--linearGradOpacity)), transparent) !important;
}

.constGrad4 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(103, 19, 229, var(--linearGradOpacity)), transparent) !important;
}

.constGrad5 {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 228, var(--linearGradOpacity)), transparent) !important;
}


.hoverGrad0:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 19, var(--linearGradOpacity)), transparent) !important;
}
.hoverGrad1:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(206, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.hoverGrad2:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(48, 229, 19, var(--linearGradOpacity)), transparent) !important;
}

.hoverGrad3:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(19, 229, 220, var(--linearGradOpacity)), transparent) !important;
}

.hoverGrad4:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(103, 19, 229, var(--linearGradOpacity)), transparent) !important;
}

.hoverGrad5:hover {
    background-image: linear-gradient(var(--linearGradDeg), rgba(229, 19, 228, var(--linearGradOpacity)), transparent) !important;
}