body {
  margin: 0em;
    position: relative;
    font-family: var(--fontFamily);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: var(--fontSize);
    direction: rtl;
    color: var(--themeColorText);
    background: var(--themeColorBG);
    transition: 0.1s;
}
div#root {
  /* display: flex;
        flex-direction: column; */
    min-height: 100vh;
}
div.App-main {
  position: relative;
}

div.frameDiv1 {
  position: relative;
    background: var(--ThemeGPTPurpleVAlpha);
    /* font-weight: 600; */
    font-size: 0.9em;
    padding: 2em 3em;
    margin: 3em 5em;
    color: white;
    border-radius: var(--themeBorderRadius);
    border-bottom-right-radius: 1px;
    }
        
div.frameDiv2 {
    /* background: var(--ThemeGPTOrangeDeep); */
    /* font-weight: 600; */
    font-size: 0.9em;
    padding: 1em 0.7em;
    margin: 1em 0em;
    flex-wrap: wrap;
      gap: 1.8em;
    /* margin: 3em 5em; */
}
#frame2Card {
  padding: 1em;
  direction: rtl;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 20em;
  border-radius: var(--cardRadius);
  justify-content: space-around;
  /* background-image: linear-gradient(45deg, #cdbba482, transparent); */
  background: var(--themeColorBG);
    /* background-image: linear-gradient(238deg, #aae3c63a, #f0dfad11, #e4969622); */
    background-image: var(--themeBG_GradientLight);
}

#frame2Card2 {
  padding: 1em;
  max-width: 16em;
  min-width: 10em;
  height: 21em;
  direction: rtl;
  display: flex;
  justify-content: space-evenly;
  border-radius: var(--cardRadius);
}

img#frame2Img {
  width: 5em;
  padding: 0.8em;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  /* border-radius: 25px; */
  filter: opacity(0.8);
}
#textGradient {
  background: -webkit-linear-gradient(239deg, rgb(0 63 95), rgb(98 1 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr#horizLine {
  border-top: 1px solid var(--themeGrey);
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 92%;
}
/* 
div#frame2Card h3 {
  font-size: 1.2em;
  margin: 0.2em 0em;
}
div#frame2Card p {
  font-weight: 500;
}
*/
  
.App {
  font-size: 1rem;
  min-height: 66vh;
}

section.caruselDiv {
  /* background: rgba(6, 179, 227, 0.25); */
  /* background: rgb(188 191 194 / 23%);
                                    background: var(--themeGreyAlpha); */
  /* background: var(--themeColor); */
  padding: 1em;
  line-height: 1.5;
}

div.carousel-container {
  padding: 2em 0.5em;
  padding-top: 0em;
  margin: 1em 0em;
}
    
div.carousel-container li {
    align-content: center;
  }

div.carousel-container button {
  /* background-color: transparent; */
  background: transparent;
  z-index: 0;
  border: 1px solid black;
}

div.carousel-container button:hover::before {
  color: white;
}

div.carousel-container button::before {
  color: black;
}

.custom-dot-list-style button {
  background-color: transparent;
}

.custom-dot-list-style li.react-multi-carousel-dot--active button {
  background-color: black;
}
.cardText {
  display: contents;
  /* font-size: 1.5em; */
    color: var(--themeDarkBlue);
    color: #032f4d;
  }
  
      
  div.quickSignUp {
    background: #161b22;
    background-color: var(--themeColorBG_DarkMode);
    background: var(--themeDarkBlue);
    background-image: var(--headerGradient);
    color: var(--themeColorText_DarkMode);
    padding: 1em 0em;
    border-radius: var(--cardRadius);
    border-top-right-radius: 1px;
    margin: 3em 5em;
  }
  
  div.quickSignUp h3 {
    margin: 0.5em;
    font-size: 1.3em;
  }
      
  textarea,
  input {
    background: var(--themeColorBG);
    height: 2.5em;
    margin: 1em 1em;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 7px;
    border: 1.2px solid var(--themeGreyAlpha);
    box-shadow: var(--BoxShadowHeader);
  }

  textarea:focus-visible,
  input:focus-visible {
    outline: none;
    border-color: transparent;
    box-shadow: var(--themeColor) var(--BoxShadowPlotBase);
    /* border: 1px solid black; */
  }
  
  input[type=checkbox] {
    margin: 0.8em;
    width: 1em;
    height: 1em;
    accent-color: black;
    border-radius: 20px;
  }
  
  input.inputText {
    width: 24vw;
  }
  
  div.checkboxContainer {
    margin: 0em 1em;
    padding: 0.1em 0.8em;
    border-radius: var(--themeBorderRadius);
  }
.whatsappHover:hover {
  color: #1b9949;
  color: #25D366;
}
  