body {
  margin: 0em;
    position: relative;
    font-family: var(--fontFamily);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: var(--fontSize);
    direction: rtl;
    color: var(--themeColorText);
    background: var(--themeColorBG);
    transition: 0.2s;
    /* overflow-x: hidden; */
      /* max-width: 100vw; */
    overflow-x: clip;
}
div#root {
  /* display: flex;
        flex-direction: column; */
    min-height: 100vh;
}
div.App-main {
  position: relative;
}

div.frameDiv1 {
  position: relative;
  font-size: 0.9em;
  padding: 2em 3em;
  /* border-bottom-right-radius: 1px; */
  }
  
div.frameDiv1 p {
  font-weight: 500;
}

.themeRadius {
  border-radius: var(--themeBorderRadius);
}

.frameMargin {
  margin: 3em 5em;
}

.purpleOnWhite {
  background: var(--ThemeGPTPurpleVAlpha);
  color: white;
}

.blackOnWhite{
  background: #161b22;
  background-color: var(--themeColorBG_DarkMode);
  background: var(--themeDarkBlue);
  background-image: var(--headerGradient);
  color: var(--themeColorText_DarkMode);
}

.blackOnWhite2 {
  background: black;
  background-color: var(--themeColorBG_DarkMode);
  background: var(--themeDarkBlue);
  color: var(--themeColorText_DarkMode);
  }
  
.greyOnBlack {
  background: var(--themeGrey);
  background-color: var(--themeGreyAlpha);
  color: var(--themeColorText);
}

.orangeOnBlack {
  background: var(--ThemeGPTOrangeDeepAlpha);
  color: var(--themeColorText);
}
.lineargrad {
  background-color: rgba(255, 255, 255, 0.6);
  background-image: var(--themeBG_GradientLight);
}
        
div.frameDiv2 {
    /* background: var(--ThemeGPTOrangeDeep); */
    /* font-weight: 600; */
    font-size: 0.9em;
    padding: 1em 0.7em;
    margin: 1em 0em;
    flex-wrap: wrap;
      gap: 1.8em;
    /* margin: 3em 5em; */
}
#frame2Card {
  padding: 1em;
  direction: rtl;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  width: 15em;
  height: 20em;
  border-radius: var(--cardRadius);
  justify-content: space-around;
  /* background-image: linear-gradient(45deg, #cdbba482, transparent); */
  background: var(--themeColorBG);
    /* background-image: linear-gradient(238deg, #aae3c63a, #f0dfad11, #e4969622); */
  background-image: var(--themeBG_GradientLight);
}

#frame2Card2 {
  padding: 1em;
  max-width: 16em;
  min-width: 10em;
  height: 21em;
  direction: rtl;
  display: flex;
  justify-content: space-evenly;
  border-radius: var(--cardRadius);
}

img#frame2Img {
  width: 5em;
  padding: 0.8em;
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  /* border-radius: 25px; */
  filter: opacity(0.8);
}
#textGradient {
  background: -webkit-linear-gradient(239deg, rgb(0 63 95), rgb(98 1 1));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#textGradient2 {
  background: -webkit-linear-gradient(180deg, rgb(0, 59, 90), rgb(7, 59, 3));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hoverGradTheme:hover {
  background-image: var(--themeGradient) !important;
}
hr#horizLine {
  border-top: 1px solid var(--themeGrey);
  margin-top: 0.5em;
  margin-bottom: 1em;
  width: 92%;
}
/* 
div#frame2Card h3 {
  font-size: 1.2em;
  margin: 0.2em 0em;
}
div#frame2Card p {
  font-weight: 500;
}
*/
  
.App {
  font-size: 1rem;
  min-height: 66vh;
}

section.caruselDiv {
  /* background: rgba(6, 179, 227, 0.25); */
  /* background: rgb(188 191 194 / 23%);
                                    background: var(--themeGreyAlpha); */
  /* background: var(--themeColor); */
  padding: 1em;
  line-height: 1.5;
}

div.carousel-container {
  padding: 2em 0.5em;
  padding-top: 0em;
  margin: 1em 0em;
}
    
div.carousel-container li {
    align-content: center;
  }

div.carousel-container button {
  /* background-color: transparent; */
  background: transparent;
  z-index: 0;
  /* border-radius: var(--themeBorderRadius); */
  border: 1px solid var(--themeColorText);
}

div.carousel-container button:hover::before {
  color: var(--themeColorText_DarkMode);
}

div.carousel-container button::before {
  color: var(--themeColorText);
}

.custom-dot-list-style button {
  background-color: transparent;
}

.custom-dot-list-style li.react-multi-carousel-dot--active button {
  background-color: var(--themeColorText);
}
.cardText {
  display: contents;
  /* font-size: 1.5em; */
    color: var(--themeDarkBlue);
  }
  
      
  div.quickSignUp {
    padding: 1em 0em;
    border-top-right-radius: 1px;
  }
  
  div.quickSignUp h3 {
    margin: 0.5em;
    font-size: 1.3em;
  }
      
  textarea,
  input {
    background: var(--themeColorBG);
    height: 2.5em;
    margin: 1em 1em;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 7px;
    border: 1.2px solid var(--themeGreyAlpha);
    box-shadow: var(--BoxShadowHeader);
  }

  textarea:focus-visible,
  input:focus-visible {
    outline: none;
    border-color: transparent;
    box-shadow: var(--themeColor) var(--BoxShadowPlotBase);
    /* border: 1px solid black; */
  }
  
  input[type=checkbox] {
    margin: 0.8em;
    width: 1em;
    height: 1em;
    accent-color: black;
    border-radius: 20px;
  }
  
  input.inputText {
    width: 24vw;
  }
  
  div.checkboxContainer {
    margin: 0em 1em;
    padding: 0.1em 0.8em;
    border-radius: var(--themeBorderRadius);
  }
.whatsappHover:hover {
  color: #1b9949;
  color: #25D366;
}

#floatingFormula {
  position: absolute;
  font-weight: bold;
  font-size: 1.2em;
}
ul#promoList {
  padding-right: 0em;
}

ul#promoList li {
  /* font-size: 1.1em; */
  display: flex;
  align-items: center;
  gap: 2em;
  font-weight: 500;
  padding: 1em 0em;
  margin: 0.8em 0.1em;
}

ul#promoList li h3 {
  margin: 0em;
  font-weight: 500;
}

ul#promoList li svg {
  color: var(--themeDarkBlue);
}
div#promoVideo {
  /* background: var(--themeGreyAlpha); */
  /* font-weight: 600; */
  border-top-left-radius: 1px;
  font-size: 0.9em;
  padding: 2em 1em;
  grid-auto-flow: column;
}

div#promoVideo div {
  min-height: 20em;
}

a#mathJax,
a#mathJax span {
  visibility: visible;
}