/* body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #fff;
  } */
.Sales {
    text-align: center;
    /* padding: 1em; */
    position: relative;
    /* margin: 1em; */
}


.course-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    padding: 1em;
    width: -webkit-fill-available;
}

.course-card {
    background: rgba(255, 255, 255, 0.675);
    border-radius: var(--themeBorderRadius);
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    cursor: default;
    max-width: 20em;
    width: -webkit-fill-available;
    /* height: 10em; */
    padding: 0.8em 0.7em;
    transition: transform 0.2s, box-shadow 0.2s;
    display: grid;
    /* grid-template-rows: 1fr 2fr 1fr; */
        /* justify-content: space-between; */
    }
.course-card:hover {
    transform: translateY(-3px);
}
/* 
.course-card:hover {
    transform: translateY(-0.8em);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.264);
    box-shadow: var(--boxShadow);
}

*/
.course-card h2 {
    color: var(--themeDarkBlue);
        margin-bottom: 0.4em;
}

.course-card ul {
    list-style-type: disc;
    padding: 0.3em;
    text-align: left;
    margin: 0em;
    text-align: -webkit-right;
}

.course-card ul li {
    margin: 1em 0em;
    color: var(--themeColorText);
    display: flex;
    gap: 1em;
    font-weight: 500;
    padding: 0em 1em;
    align-items: center;
    direction: rtl;
}

div.onConstruction {
    padding: 1em;
    margin: 2em 3em;
}

.course-card ul li i {
    margin-right: 0.1em;
    color: var(--themeDarkBlue);
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.original-price {
    text-decoration: line-through;
    color: var(--themeColorGrey);
    margin-right: 0em;
}

.discounted-price {
    color: var(--themeDarkRed);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.2em;
}

.paymentPromo {
    padding: 1.1em 2em;
    border: 1px solid var(--themeGrey);
    border-radius: var(--buttonSquarishRadius);
    /* background-color: var(--themeColorBG); */
    /* background-image: var(--themeBG_GradientLight); */

}

.paymentPromo * {
    font-size: 1em;
    font-weight: 600;
}

div.course-card div button#purchesButton {
    background-color: var(--constThemeColor);
    color: var(--themeColorText_DarkMode);
    border: 1px solid var(--themeColorGrey);
}

div.course-card div button#purchesButton:hover {
    background-color: var(--ThemeGPTOrangeDeep);
    color: var(--themeColorText);
}

div#notifyMe {
    border-radius: var(--themeBorderRadius);
}
.notify {
    font-style: italic;
}
