div.loginContainer {
    font-size: 1rem;
    font-family: var(--themeGPTfont);
    align-content: center;
    text-align: center;
    min-height: 66vh;
}

div.loginContainer h2 {
    text-align: center;
    margin: 1em;
    margin-top: 0.2em;

}

/* div.loginContainer h1 {
    text-align: center;
} */

.loginForm {
    position: relative;
    /* text-align: start; */
    font-size: 0.9em;
    align-items: center;
    /* display: table-caption; */
    margin: 2em auto;
    box-shadow: var(--boxShadowHeader);
    width: fit-content;
    /* padding: 1em 5em 1.5em 5em; */
    padding: 1.3em 4em 2em 4em;

    /* background: var(--ThemeColorAlpha); */
    /* border-radius: 30% 30% 30% 30%; */
    /* overflow: hidden; */
}

.loginForm button#signupButton {
    max-width: 22em;
    width: 20vw;
}
.mode0 {
    /* background-color: var(--themeColorBG2); */
        color: var(--themeColorText);
        background-color: var(--themeColorBG);
}

.mode1 {
    background: #161b22;
    background-color: var(--themeColorBG_DarkMode);
    background: var(--themeDarkBlue);
        background-image: var(--headerGradient);
        color: var(--themeColorText_DarkMode);
    }
    
.mode1 button {
        color: var(--themeColorText_DarkMode);
}

div.login {
    border-radius: 40px 40px 1px 40px;
    border: 1px solid var(--themeGreyAlpha);
    margin-bottom: 4em;
}

div.signup {
    border-radius: 50px 50px 1px 50px;
}

input.input,
select.input {
    background: white;
    /* width: 100%; */
    height: 2em;
    margin: 1em 0em;
    margin-top: 0.5em;
    text-align: center;
    border-radius: 7px;
    border: 1.2px solid var(--themeGreyAlpha);
}


input.darkInput,
select.darkInput {
    border: 1.2px solid var(--themeGreyAlpha);
}

input.darkInput:focus-visible,
select.darkInput:focus-visible {
    border-color: var(--themeColor);
}

input#password,
input#password2,
input#email,
input#Password,
input#Email {
    min-width: 24vw;
    width: 37vw;
        max-width: 30em;
}


select#ageSelect {
    width: max-content;
    margin-left: 2em;
    height: 2em;
}

select#gradeSelect {
    width: max-content;
    margin-left: 2em;
    height: 2em;
}

input#fname,
input#lname {
    width: 100%;
    max-width: 10vw;
}

span#pass {
    position: relative;
}

svg#passwordEye {
    position: absolute;
    cursor: pointer;
    right: 3%;
    top: -2px;
}

svg#passwordEye:hover {
    opacity: 0.7;
}

h5#signupText {
    padding: 1em;
    padding-left: 0.5em;
}

.signUpLink {
    padding: 1em 0.4em;
    cursor: pointer;
    font-style: italic;
    /* font-weight: bold; */
}

.signUpLink:hover {
    text-decoration: underline;
}

div h5 {
    margin: 0.1em;
    font-size: 0.9em;
    font-weight: 500;
}

h6#forgetPass {
    font-weight: normal;
    cursor: pointer;
    font-style: italic;
    font-size: 0.8em;
    margin: 0em;
}

h6#forgetPass:hover {
    text-decoration: underline;
}

.linkHoverColor0:hover {
    color: #0000EE;
}

.linkHoverColor1:hover {
    color: var(--ThemeGPTBlueV);
}

.errorMSG {
    margin: 0em;
    /* margin-top: 0.2em; */
    /* background-color: #1833598d; */
    padding: 0.5em;
    color: #c82333;
}


.tStart {
    text-align: start;
}
div.google div {
    gap: 1em;
}