span#logoMark {
    padding: 0em 0.3em 0.15em 0.3em;
    background: black;
    border-radius: 20px;
    font-size: 1.1em;
    /* color: aliceblue; */
}

span#logoMark a {
    padding: 0.6em;
    vertical-align: middle;
    background: var(--ThemeColor1TitleColor);
    -webkit-background-clip: text;
    background-clip: text;
    font-family: var(--themeGPTfont);
    font-size: 1.1em;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
}

img#LogoImgMain {
    padding: 0.2em;
    margin: 0.15em;
    height: 4em;
    width: 5em;
    border-radius: 40px;
}

div.cardContainer {
    display: block;
    cursor: default;
    background: var(--themeColorBG);
    border-radius: 12px;
    margin: 0.5em;
    padding: 0.7em 0.5em;
    width: fit-content;
    height: fit-content;
    min-height: 5em;
        min-width: 4em;
            /* max-width: 20%; */
}

/* div.cardContainer img {
    width: 15%;
    height: 25%;
}

*/
/* 
div.cardContainer * {
    width: fit-content;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-self: center;
    display: flex;
    */
    
div#promptContainer {
    resize: both;
        position: fixed;
        z-index: 150;
        background: var(--themeColorBG);
        padding: 1em;
        border: 1px solid var(--themeGrey);
        top: 10%;
        width: 57vw;
        height: 80vh;
        left: 20%;
        overflow-y: scroll;
        background-image: linear-gradient(var(--linearGradient2));
    }
    
    div#promptContainer::-webkit-scrollbar {
        width: 0.4em;
        height: 0.3em;
        border-radius: var(--PlotRadius);
    }
    
    div#promptContainer::-webkit-scrollbar-track {
        background: transparent;
    
    }
    
    div#promptContainer::-webkit-scrollbar-thumb {
        cursor: grab;
        /* background: linear-gradient(315deg, transparent, transparent, #233b3234, transparent, transparent); */
        border-radius: 12px;
        background-color: rgba(0, 0, 0, 0.442);
        /* background: linear-gradient(45deg, rgba(22, 146, 235, 0.538), transparent); */
    }
    
    div#promptContainer::-webkit-scrollbar-thumb:active {
        cursor: grabbing;
    }
    
    
svg#closePrompt:hover {
    opacity: 0.6;
}
    
div.checkBoxDiv {
    position: relative;
}
    
div.checkBoxDiv input[type=checkbox] {
    cursor: pointer;
    margin: 0.8em;
    /* width: 1em;
                                                                                                                                height: 1em; */
    }

div.frameDiv3 {
    background: var(--ThemeGPTOrangeDeepAlpha);
    /* font-weight: 600; */
    font-size: 1em;
    padding: 2em 3em;
    margin: 3em 5em;
    text-align: start;
    border-radius: 30px 30px 30px 1px;
}
div.frameDiv3 p {
    direction: rtl;
    line-height: 1.5em;
    font-size: 1.2em;
}

button#trialButton {
    font-size: 1.1em;
    margin: 1em;
    padding: 0.5em 0.9em;
    border-radius: 20px;
}
div.footer {
    /* height: 15vh; */
    padding: 1em 1em;
    padding-bottom: 0.1em;
    width: -webkit-fill-available;
    background-color: var(--themeColorBG_DarkMode);
        background-image: linear-gradient(0deg, black, var(--themeDarkBlue), var(--themeDarkBlue), var(--themeColorBG_DarkMode),
    var(--themeColorBG_DarkMode),
    white);
    background: var(--themeDarkBlue);
    background-image: var(--headerGradient);
    color: var(--themeColorText_DarkMode);
    
}
div.writeMe {
    position: relative;
    display: block;
    /* width: fit-content; */
    margin: auto;
    margin-bottom: 1em;
    padding: 1.1em 3em;
}

div.writeMe input {
    width: 20vw;
}

div.writeMe textarea {
    height: 6em;
    width: 44vw;
    border-radius: 12px;
    direction: auto;
}


img#tutorSelfie {
    height: 12em;
    border: 1px solid rgba(255, 255, 255, 0.692);
    margin: 1em;
    float: left;
    border-radius: 40%;
    width: 12em;
}
/* #tutorSelfie {
    border: 1px solid rgba(255, 255, 255, 0.692);
    float: left;
    height: 6.5em;
    width: 6.5em;
    border-radius: 30%;
    padding: 1em;
    margin: 1em;
}
*/