div#header {
    z-index: 50;
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    transition: 0.2s;
    align-items: center;
    padding-bottom: 0.2em;
}

div.headerPad {
    padding-top: 1.5em;
}

/* div.headerPad li:hover {
    color: rgb(0 0 0 / 80%);
}
*/

div.headerBorder {
    /* background: var(--themeDarkBlue);
    background-image: var(--headerGradient);
    color: var(--themeColorText_DarkMode); */
    background-color: rgba(255, 255, 255, 1);
    padding-top: 0.5em;
    box-shadow: var(--boxShadowHeader);
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    /* border-radius: 0px 0px 30px 30px; */
}


div#formulaLogo {
    align-self: end;
}

div.headerBorder div#formulaLogotheme svg {
    fill: var(--themeColor);
}
.activePage {
    color: var(--themeColor);
    font-weight: 600;
    cursor: default;

}

div.headerPad li.activePage {
    border-color: var(--themeColor);
    color: var(--themeColorText);
}

div.headerPad li.activePage:hover {
    opacity: 0.8;
}

/* div.headerBorder div ul a li {
    border-color: transparent;
} */

div#menuLogo {
    padding: 0.2em 0.3em;
}

div#menuLogo img {
    width: 2em;
    height: 1.5em;
}

ul#menuCategory {
    list-style-type: none;
    font-size: 0.9em;
    align-items: baseline;
    margin-bottom: 0em;
}

div.headerPad li {
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: transparent;
    padding: 5px;
}

ul#menuCategory li:hover {
    opacity: 0.8;
    /* font-weight: 600; */
}
/* div.headerBorder ul#mobile,
div.headerBorder div.subMenu {
    background: black;
    color: var(--themeColorText_DarkMode);
}

*/
/* div.headerBorder div#formulaLogo svg#fxLogo {
    fill: var(--themeColorText_DarkMode);
}
*/
 /* ul#mobile div {
     margin: 1em 0.2em;
*/

div.subMenu {
    position: absolute;
    z-index: 342;
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content; */
    /* height: fit-content; */
    color: var(--themeColorText);
    background: var(--themeColorBG);
    padding: 0.9em 1.2em;
    border-radius: 1em;
    box-shadow: var(--boxShadowHeader2);
    cursor: default;
    /* font-size: 1em; */
}

div.subMenu * {
    height: fit-content;
    width: max-content;
    /* margin: 0.7em; */
}

svg#fxLogo {
    fill: var(--themeColorText);
}

li {
    list-style: none;
    width: max-content;
}

button#loginButton {
    color: var(--themeColorText_DarkMode);
}
div.subMenu#subMenuMobile {
    background-color: var(--themeColorBG2);
    box-shadow: var(--boxShadowHeader2);
    text-align: start;
    border-radius: 12px;
    font-size: 1.5em;
        gap: 1em;
    width: max-content;
    padding: 1em;
    /* right: 5px; */
    top: 35px;
    max-height: 70vh;
    overflow: scroll;
    overflow: overlay;
}
div.subMenu#subMenuMobile p {
    margin: 0.3em;
    padding: 0.5em;
}
ul#mobile {
    background-color: var(--themeColorBG);
    box-shadow: var(--boxShadowHeader2);
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    font-size: 2em;
    width: -webkit-fill-available;
    right: 0;
    top: 20px;
    max-height: 70vh;
    overflow: scroll;
    overflow: overlay;
    padding: 1em;
}

ul#mobile div {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: transparent;
}

ul#mobile a {
    padding: 0.5em;
}

ul#mobile a:hover {
    color: var(--themeColor);
}