div#header {
    z-index: 50;
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    transition: 0.2s;
    align-items: end;
}

div.headerPad {
    padding: 1em 0em;
}


div.headerPad li:hover {
    color: rgb(0 0 0 / 80%);
}
*/

div.headerBorder {
    align-items: center;
    /* border-radius: 0px 0px 0.5em 0.5em; */
    padding: 0.5em 0em;
    /* background-color: #011e33; */
    background: var(--themeDarkBlue);
    background-image: var(--headerGradient);
        /* background-image: var(--headerGradient2); */
    color: var(--themeColorText_DarkMode);
    /* box-shadow: var(--boxShadowHeader); */
    border: none;
}

div.headerBorder svg {
    /* fill: var(--themeColorText_DarkMode); */
    margin: 0em 1em;
    display: flex;
}

div.headerBorder div#formulaLogo svg {
    fill: var(--themeColorText_DarkMode);
}

div.headerBorder div#formulaLogotheme svg {
    fill: var(--themeColor);
}
.activePage {
    color: var(--themeColor);
    font-weight: 600;
    cursor: default;

}

div.headerPad li.activePage {
    border-color: var(--themeColor);
    color: var(--themeColorText);
}

div.headerPad li.activePage:hover {
    opacity: 0.8;
}

/* div.headerBorder div ul a li {
    border-color: transparent;
} */

div#menuLogo {
    padding: 0.2em 0.3em;
}

div#menuLogo img {
    width: 2em;
        height: 1.5em;
}

ul#menuCategory {
    list-style-type: none;
    font-size: 0.9em;
    align-items: baseline;
        padding: 0em 0.2em;
}

div.headerPad li {
    padding: 0.3em 1em;
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: transparent;
}

ul#menuCategory li:hover {
    opacity: 0.8;
    /* font-weight: 600; */
}
div.headerBorder div.subMenu {
    background: black;
    /* background: var(--themeDarkBlue); */
        /* background-image: var(--headerGradient); */
    color: var(--themeColorText_DarkMode);
    box-shadow: none;
}

div.subMenu {
    position: absolute;
    z-index: 50;
    display: flex;
    flex-wrap: wrap;
    /* width: fit-content; */
    /* height: fit-content; */
    color: var(--themeColorText);
    background: var(--themeColorBG);
    padding: 0.9em 1.2em;
    border-radius: 1em;
    box-shadow: var(--boxShadowHeader2);
    cursor: default;
}

div.subMenu * {
    height: fit-content;
    width: max-content;
    cursor: pointer;
    margin: 0.7em;
}

div.subMenu *:hover {
    color: var(--themeColor);
}

li {
    list-style: none;
    width: max-content;
}

button#loginButton {
    color: var(--themeColorText_DarkMode);
}