.courseContainer {
    position: relative;
    display: flex;
    margin: 0em 0em 2em 0em;
    height: fit-content;
    background-color: var(--themeColorBG);
}

.menu {
    background-color: var(--themeColorBG);
    border-left: 1px solid #ccc;
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    overflow-y: overlay;
}

.menu.open {
    width: 28%;
        /* max-width: 35%; */
    height: -webkit-fill-available !important;
    position: relative;
}


.menu.closed {
    width: 5%;
    height: fit-content;
    position: absolute;
    border-radius: var(--buttonSquarishRadius);
}
.menu.closed div {
    justify-content: center;
}
.content {
    flex-grow: 1;
    padding: 20px;
    background: #fff;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-list li {
    padding: 0.6em;
    cursor: pointer;
}


.submenu li:hover {
    color: var(--themeColor);
}

.submenu {
    list-style: none;
    padding-left: 1em;
}

/* .toggle-menu {
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    align-self: flex-end;
} */

.mobile-menu-button {
    display: none;
    position: absolute;
    top: 0.7em;
    right: 0.7em;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0.5em;
}